:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #f0f0f0;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1);

  --btn-icon-color: rgb(255, 255, 255);
  --view-btn-color: #b89dc5;
  --add-btn-color: #a6c59d;
  --edit-btn-color: #95abd1;
  --delete-btn-color: #c59d9d;

  --card-bg: rgb(255, 255, 255);

  --form-bg: #f5f3dd;;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Individual classes: */

/* BUTTONS & LINKS */
a {
  text-decoration: none;
}

button {
  border-radius: 30px;
  margin: 0.75rem 0.25rem;
  padding: 0.25rem 0.75rem;
  box-shadow: 5px 5px 0px var(--shadow);
  cursor: pointer;
  font-size: 10px;
  color: var(--accent);
  width: 55px;
  height: 35px;
}

button:hover {
    transform: scale(102%);
    font-weight: 550;
}

button:active {
    box-shadow: var(--shadow) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

button svg {
    overflow: visible;
    width: 20px;
    height: 20px;
    color: var(--btn-icon-color);
}

.view-btn {
  background-color: var(--view-btn-color);
}

.add-btn {
  background-color: var(--add-btn-color);
}

.edit-btn {
  background-color: var(--edit-btn-color);
}

.delete-btn {
  background-color: var(--delete-btn-color);
}

/* COMMON DIVS */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--border);
}

.main-container {
  background-color: var(--border);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  width: 80vw;
  margin: 0 auto;
}

#mode-toggle-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  color: var(--accent);
}

#viewbox{
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  border: 2px solid var(--border);
  border-radius: 0.5rem;
  background-color: var(--form-bg);
  box-shadow: 5px 5px 0px var(--shadow);
  margin: 5px;
  padding: 15px;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.form-element {
    display: flex;
    justify-content: space-between;
    margin: 8px 32px;
}

/* CARDS */
.card {
  border: 2px solid black;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto;
  border-radius: 0.5rem;
  background-color: var(--card-bg);
  box-shadow: 5px 5px 0px var(--shadow);
  margin: 5px;
  padding: 8px;
  width: 80%;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card-header-container {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0.5rem;
}

.card-icon-container {
  border: 2px solid var(--border);
  border-radius: 50%;
  height: 30px;
  box-shadow: 5px 5px 0px var(--shadow);
}

.card-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1px;
}

.card-actions-container {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.card-description-container {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  justify-content: flex-start;
  padding: 0.25rem 5px;
  font-size: 18px;
  gap: 10px;
}

.card-expanded-container {
  grid-area: 3 / 1 / 4 / 4;
  border-top: 2px solid var(--borderColor);
  margin-top: 10px;
  padding-top: 8px;
  gap: 4px;
}

.card-edit-container {
  grid-area: 4 / 1 / 5 / 3;
}

