:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #f0f0f0;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Individual classes: */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--border);
}

.main_container {
  background-color: var(--border);
}

a {
  text-decoration: none;
}

button {
  border-radius: 30px;
  margin: 0.75rem 0.25rem;
  padding: 0.25rem 0.75rem;
  box-shadow: 5px 5px 0px var(--shadow);
  cursor: pointer;
  font-size: 10px;
  color: var(--accent);
}

button:hover {
    transform: scale(102%);
    font-weight: 550;
    border: 2px solid var(--borderColor);
}

button:active {
    box-shadow: var(--borderColor) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

button svg {
    overflow: visible;
    width: 20px;
    height: 20px;
    color: white;
}

.mode_toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  color: var(--accent);
}

.viewbox{
  border: 1px solid black;
}